<div class="alert alert-<%= alerts.type %> alert-dismissible fade show" role="alert">
   <%=alerts.message%>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>