<div class="nav-bar">
	<nav class="navbar navbar-light" style="background-image: linear-gradient(to right, #abbaab , #eef2f3, #abbaab);">
		<div class="container-fluid">
			<a class="navbar-brand"><img src="images/icon.png" height="32px">GYM MANAGEMENT SYSTEM</a>
			<div class="login-register-button">
				<a href="/login"><i class="fas fa-sign-in-alt"></i></a>
				<a href ="/register"><i class="fas fa-registered"></i></a>
			</div>
		</div>
		
	</nav>
</div>