<div class="container-main-one">
				<ul>
					<li><a href="/"><i class="fas fa-users"></i>Members</a></li>
					<li><a href="/schedule"><i class="fas fa-clipboard-list"></i>Class schedule</a></li>
					<li><a href="/product"><i class="fab fa-opencart"></i>Product</a></li>
					<li><a href="/workout"><i class="fas fa-running"></i>Workout</a></li>
				</ul>
			</div>

