<div class="container-main-one">
				<ul>
					<li><a href="index.html"><i class="fas fa-user-friends"></i>Staff Members</a></li>
					<li><a href="schedule.html"><i class="fas fa-clipboard-list"></i>Class schedule</a></li>
					<li><a href="product.html"><i class="fab fa-product-hunt"></i>Product</a></li>
					<li><a href="workout.html"><i class="fas fa-running"></i>Workouts</a></li>
					<li><a href="#"><i class="fas fa-paste"></i>Attendance</a></li>
				</ul>
			</div>