<!-- header -->
<%- include('../../partial/header.ejs')  %>
<!--  -->

<div class="wrapper">
	<!-- navigation-bar -->
	<%- include('../../partial/navbar.ejs')  %>
	<!--  -->

	<div class="container-main">
		<!-- side-bar -->
		<%- include('../../partial/sidebar.ejs')  %>
		<!--  -->
			<div class="container-main-two">
				<div class= container-main-two-button>
					<button type="button" class="btn btn-outline-primary"><i class="fas fa-cart-plus"></i>Add Product</button>
					<button type="button" class="btn btn-outline-primary"><i class="fas fa-trash-alt"></i>Remove Product</button>
				</div>
				<div class = container-main-two-product>
					<div class= product-row-one>
						<div class="product-one">
						<img src="images/Creatine.jpg" width="" height="200px">
						<h5>Creatine</h5>
						</div>

						<div class= product-one>
						<img src="images/Whey.jpg" width="" height="200px">
						<h5>Whey protein</h5>
						</div>

						<div class= product-one>
						<img src="images/bcaa.jpg" width="" height="200px">
						<h5>BCAA</h5>
						</div>

						<div class= product-one>
						<img src="images/amino.jpg" width="" height="200px">
						<h5>Amino</h5>
						</div>
					</div>

					<div class= product-row-one>
						<div class="product-one">
						<img src="images/shaker.jpg" width="" height="200px">
						<h5>Shaker bottle</h5>
						</div>

						<div class="product-one">
						<img src="images/glove.jpg" width="" height="200px">
						<h5>Gym Gloves</h5>
						</div>

						<div class= product-one>
						<img src="images/belt.jpg" width="" height="200px">
						<h5>Belt</h5>
						</div>

						<div class= product-one>
						<img src="images/t shirt.jpg" width="" height="200px">
						<h5>Gym T-shirt</h5>
						</div>
					</div>
				</div>	
			</div>
		</div>
    </div>
    
<!-- footer -->
<%- include('../../partial/footer.ejs')  %>
<!--  -->